.header {
	a {
		text-decoration: none;
		color: var(--theme-color-red);
		transition: 0.1s ease-in-out;
		font-weight: 600;
		&:hover {
			color: var(--theme-color-blue);
		}
	}
	li {
		margin: 0 1rem;
		display: flex;
		padding: 15px;
		align-items: center;
	}
	.app-sub-menu {
		display: none;
	}
	.applications {
		position: relative;
		&:hover {
			.app-sub-menu {
				display: block;
				position: absolute;
				width: 200px;
				box-shadow: 0 0 15px #ccc;
				background: #ffffff;
				padding-left: 0;
				top: 45px;
				z-index: 2;
				li:hover {
					cursor: pointer;
					background: #a7a7a7;
					border-radius: 4px;
				}
			}
		}
	}
}
