.App{
  body{
    transition: opacity .5s ease;
  }
  a{
    text-decoration: none;
    color: var(--footer-header);
    transition: 0.2s ease-in-out;
    &:hover{
      color: var(--theme-color);
    }
  }
  .navbar{
    .app-sub-menu{
      display: none;
    }
    .applications{
      position: relative;
      &:hover{
        .app-sub-menu{
          display: block;
          position: absolute;
          width: 100%;
          box-shadow: 0 0 15px #ccc;
          background: #ffffff;
          padding-left: 0;
          li:hover{
            cursor: pointer;
            background: #a7a7a7;
            border-radius: 4px;
          }
        }
      }
    }
  }
  //ul{
  //  padding-left: 0;
  //}
  //.card-layout{
  //  ul{
  //    li{
  //      box-shadow: 1px 1px 15px #ccc;
  //      transition: 0.2s ease-in-out;
  //      &:hover{
  //        transform: translateY(15px);
  //      }
  //      .header{
  //        color: var(--theme-color);
  //        transition: 0.2s ease-in-out;
  //        overflow: hidden;
  //        text-overflow: ellipsis;
  //        &:hover{
  //          color: var(--color-black)
  //        }
  //      }
  //    }
  //  }
  //}
  //.home{
  //  .self-ad {
  //    background-color: var(--theme-color);
  //    color: var(--color-white);
  //    ul{
  //      transition: opacity 0.2s ease;
  //      li{
  //        margin: 0 2rem;
  //        h6{
  //          font-size: 1.25rem;
  //          font-weight: bold;
  //        }
  //      }
  //    }
  //  }
  //}
  //.applications{
  //  ul {
  //    li{
  //      width: 25%;
  //      overflow: hidden;
  //      .article-1{
  //        background-image: url("../public/images/shop-glass1.webp");
  //        height: 300px;
  //        cursor: pointer;
  //        background-position: center;
  //        background-size: cover;
  //        overflow: hidden;
  //        -webkit-transition: all 0.3s ease-in-out;
  //        &:hover{
  //          transform: scale(1.1);
  //          -webkit-transition: all 0.3s ease-in-out;
  //        }
  //      }
  //    }
  //  }
  //}
  //footer{
  //  background-color: #202020;
  //  .upper-footer{
  //    ul li{
  //      h3{
  //        color: var(--footer-header)
  //      }
  //      p{
  //        color: var(--color-white);
  //        word-spacing: 0.5rem;
  //      }
  //    }
  //  }
  //  .lower-footer{
  //    background-color: #00000040;
  //    p{
  //      color: var(--color-white)
  //    }
  //  }
  //}
}